<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>VerificarEmail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="!this.mostrarMensajeExito">Lo sentimos, su cuenta aún no ha sido registrada y activada.</p>
  <div *ngIf="this.mostrarMensajeExito">
    <p>Su cuenta ha sido registrada.</p>
    <p class="ion-text-end">
      <a routerLink="/login">Inicia sesión aquí</a>
    </p>
  </div>
</ion-content>
